<include file="Common:header1"/>
<div class="info news-con">
    <div class="container">
        <div class="contentA">
            <h3 class="news-title"><a>{$vo.title}</a></h3>
			<hr />
            <div class="news-info">
                <strong class="persent">{$vo.column}</strong>
                <span class="time">{$vo.create_time|date='Y-m-d',###}</span>
				<span class="nesw-num" style="padding-left:10px;"><i class="glyphicon glyphicon-eye-open"></i>&nbsp;{$vo.hits}</span>
				<span class="nesw-num" style="padding-left:10px;"><i class="glyphicon glyphicon-user"></i>&nbsp;{$vo.author|default="官方发布"}</span>
				<eq name="site.is_shard" value="0"><div class="pull-right">分享到:{$site.shard|htmlspecialchars_decode}</div></eq>
            </div>
            <div class="detail_cont">
                {$vo.content|htmlspecialchars_decode}	
            </div>
            <div class="news_catalog">
                <p><notempty name="prev"><a href="{:U('/detail/'.$prev['id'])}">下一篇 {$prev.title}</a><else /><a>下一篇 没有了</a></notempty></p>
                <p><notempty name="next"><a href="{:U('/detail/'.$next['id'])}">下一篇 {$next.title}</a><else /><a>下一篇 没有了</a></notempty></p>
            </div>
        </div>
    </div>
</div>
<include file="Common:footer"/>