<include file="Common:header1"/>
<div class="container margin-top-10">
    <div class="row">
    	<notempty name="message">
    		<div class="alert alert-danger" role="alert"><i class="icon-warning-sign"></i>&nbsp;{$message}!&nbsp;<span id="wait">5</span>秒钟后返回找回密码.等不及了:<a id="href"  href="{:U('user/forget_email')}">现在跳转</a></div>
    	</notempty>
        <div class="col-xs-12 col-lg-4 col-md-4 col-lg-offset-4 col-md-offset-4 register-link register-link-bold register-link-margin">
            <div class="text-center">
                <h3>安全邮箱找回</h3>
            </div>
            <form action="{:U('user/set_new_password')}" role="form" autocomplete="off">
                <div class="form-group form-group-lg padding-top-10">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="icon-lock" style="font-size:16px;"></i></div>
                        <input class="form-control" type="password" id="new_password" name="new_password" <notempty name="message">disabled="disabled"</notempty> placeholder="请输入新的密码">
                    	<input type="hidden" name="muid" id="muid" value="{$member.id}" />
                    </div>
                </div>
                <div class="form-group form-group-lg padding-top-10">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="icon-lock" style="font-size:16px;"></i></div>
                        <input class="form-control" type="password" id="comfr_password" name="comfr_password" <notempty name="message">disabled="disabled"</notempty> placeholder="请输入确认密码">
                    </div>
                </div>
                <div class="form-group form-group-lg padding-top-10">
                    <div class="input-group">
                    	<div class="input-group-addon"><i class="icon-key" style="font-size:12px;"></i></div>
                        <input class="form-control" type="text" id="verify" name="verify" <notempty name="message">disabled="disabled"</notempty> placeholder="验证码">
                        <div class="input-group-addon pointer">
                        	<img src="{:U('public/verify')}" width="110" height="32" onclick="javascript:this.src=this.src+'?_id='+Math.random()"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button class="col-xs-12 col-md-12 col-lg-12 register-button"  <notempty name="message">disabled="disabled"</notempty>>修改密码</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="__PLUG__/jquery.validate/jquery.validate.min.js" type="text/javascript"></script>
<script src="__PLUG__/jquery.validate/my.rules.js" type="text/javascript"></script>
<script type="text/javascript">
	var strat_flag = true;
	var countdown=60;
	$(function(){
		$('form').validate({
	        errorElement: 'span', //default input error message container
	        errorClass: 'help-block', // default input error message class
	        focusInvalid: false, // do not focus the last invalid input
	        ignore: "",
	        rules: {
	            verify:{
	            	required:true,
	            },
	            new_password: {
                    required: true,
                    stringCheck: true,
                    byteRangeLength: [6, 15]
                },
                comfr_password:{
                    required:true,
                    chrnum: true,
                    byteRangeLength:[6,15],
                    equalTo:"#new_password"
                }
	        },
	        messages: { // custom messages for radio buttons and checkboxes
	            verify:{
	            	required:'*请填写验证码',
	            },
	            new_password: {
                    required: "*请填写密码",
                    chrnum: "*密码只能包括英文字母、数字和下划线",
                    byteRangeLength: "*用户名必须在6-15个字符之间"
                },
                comfr_password:{
                    required:'*请填写密码',
                    chrnum: "*密码只能包括英文字母、数字和下划线",
                    byteRangeLength:'*长度必须在6-12之间',
                    equalTo:"*两次输入密码不一致"
                },
	        },
	        highlight : function(element) {  
	            $(element).closest('.form-group').removeClass('has-success').addClass('has-error'); 
	        },  
	        success : function(label) {  
	            label.closest('.form-group').removeClass('has-error').addClass('has-success');  
	            label.remove();  
	        },  
	        errorPlacement : function(error, element) {  
	            element.parent('div').parent('div').append(error);  
	        },  
	    });
		
		$('form').submit(function(e){
			e.preventDefault();
			if($('form').valid()){
				var json = $('form').serialize();
				var index = layer.load(2,{
					shade: [0.5,'#000'] //0.1透明度的白色背景
				});
				$.post($(this).attr('action'),json,function(result){
					layer.close(index);
					if(result.status==1){
						layer.alert(result.msg,{icon:1,end:function(){
							window.location.href = result.redirect;
						}});
					}else{
						layer.alert(result.msg,{icon:11});
					}
				});
			}
		});
		
		var timespan = parseInt($('#timespan').text());
		setTimeout(function(){
			timespan--;
			if(timespan==0){
				window.location.href="U('user/forget_email')";
			}else{
				$('#timespan').text(timespan)
			}
		},5);
	});
</script>
<notempty name="message">
	<script type="text/javascript">
	(function(){
	var wait = document.getElementById('wait'),href = document.getElementById('href').href;
	var interval = setInterval(function(){
		var time = --wait.innerHTML;
		if(time <= 0) {
			location.href = href;
			clearInterval(interval);
		};
	}, 1000);
	})();
	</script>
</notempty>
<include file="Common:footer1"/>