<div id="altContent">
	<input  id="username" type="hidden" value="{$Think.get._name}" />
	<OBJECT classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
	codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"
	WIDTH="650" HEIGHT="450" id="myMovieName">
	<PARAM NAME=movie VALUE="__PLUG__/flash/avatar.swf">
	<PARAM NAME=quality VALUE=high>
	<PARAM NAME=bgcolor VALUE=#FFFFFF>
	<param name="flashvars" value="imgUrl=__PLUG__/flash/default.jpg&uploadUrl=__URL__/upfile&uploadSrc=false" />
	<EMBED src="__PLUG__/flash/avatar.swf" quality=high bgcolor=#FFFFFF WIDTH="650" HEIGHT="450" wmode="transparent" flashVars="imgUrl=__IMAGES__/h1.png&uploadUrl=__URL__/upfile&uploadSrc=false"
	NAME="myMovieName" ALIGN="" TYPE="application/x-shockwave-flash" allowScriptAccess="always"
	PLUGINSPAGE="http://www.macromedia.com/go/getflashplayer">
	</EMBED>
	</OBJECT>
</div>
<div id="avatar_priview"></div>
<script type="text/javascript">
    function uploadevent(status,former){
    	alert(former);
      	status += '';
     	switch(status){
		    case '1':
				var time = new Date().getTime();
				document.getElementById('avatar_priview').innerHTML = "头像1 : <img src='./Uploads/"+big+".png?" + time + "'/> <br/> 头像2: <img src='./Uploads/"+middle+".png?" + time + "'/><br/> 头像3: <img src='./Uploads/"+small+".png?" + time + "'/>" ;
			break;
		    case '-1':
			window.top.location.reload();
		    break;
		    default:
		    window.top.location.reload();
		} 
    }
</script>